<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro ocorrencia</title>
	<link rel="stylesheet" th:href="@{~/css/global.css}">
	<link rel="stylesheet" th:href="@{~/css/cadastro.css}">
</head>

<body>



	<div class="container">
		<div class="container-cadastro">
			<h1>Cadastro de ocorrência</h1>
			<form>
				<div class="div-input">
					<label for="rua">Rua</label>
					<input type="text" id="rua" name="rua" class="input" />
				</div>
				<div class="div-input">
					<label for="numeroRua">Número</label>
					<input type="number" id="numeroRua" name="numeroRua" class="input" />
				</div>
				<div class="div-input">
					<label for="cep">CEP</label>
					<input type="number" id="cep" name="cep" class="input" />
				</div>
				<div class="div-input">
					<label for="complemento">Complemento</label>
					<textarea id="complemento" name="complemento" rows="4" cols="50" class="input"></textarea>
				</div>
				<div class="div-input">
					<label for="bairro">Bairro</label>
					<input type="text" id="bairro" name="bairro" class="input" />
				</div>
				<div class="div-input">
					<label for="cidade">Cidade</label>
					<input type="text" id="cidade" name="cidade" class="input" />
				</div>
				<div class="div-input">
					<label for="siglaCidade">Sigla cidade</label>
					<input type="text" id="siglaCidade" name="siglaCidade" class="input" />
				</div>
				<div class="div-input">
					<label for="estado">Estado</label>
					<input type="text" id="estado" name="estado" class="input" />
				</div>
				<div class="div-input">
					<label for="siglaEstado">Sigla estado</label>
					<input type="text" id="siglaEstado" name="siglaEstado" class="input" />
				</div>
				<div class="div-input">
					<label for="incidente">Incidente</label>
					<textarea id="incidente" name="incidente" rows="4" cols="50" class="input"></textarea>
				</div>
				<div class="div-input">
					<label for="dataIncidente">Data do incidente</label>
					<input type="date" id="dataIncidente" name="dataIncidente" class="input" />
				</div>
				<div class="div-input">
					<label for="avaliacaoPerigo">Nível de perigo</label>
					<input type="number" id="avaliacaoPerigo" name="avaliacaoPerigo" class="input" />
				</div>
				<div class="div-botoes">
					<button class="botao" type="reset">Cancelar</button>
					<button class="botao" type="submit">Enviar</button>
				</div>
			</form>
		</div>

	</div>

</body>

</html>