<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{~/css/home.css}">
	<link rel="stylesheet" th:href="@{~/css/global.css}">
</head>

<body>

	<div class="header">
		<h1>Global Solution</h1>
		<a href="/mulher/new"><button class="botao-cadastrar">Cadastrar uma nova ocorrência</button></a>
	</div>

	<div class="container">
		<h2>Minhas ocorrências</h2>
		<div class="container-ocorrencia">
			<div class="ocorrencia">
				<h3>Rua: Av. Paulista, 1106 - 7º andar</h3>
				<h4>Bairro: Vila Lara</h4>
				<h4>Nível de perigo: Alto</h4>
				<h4>Data: 20/09/2022</h4>
			</div>
		</div>
	</div>

	<div class="container">
		<h2>Mulheres cadastradas</h2>
		<div class="container-ocorrencia">
			<div class="ocorrencia">
				<h3>Rua: Av. Paulista, 1106 - 7º andar</h3>
				<h4>Bairro: Vila Lara</h4>
				<h4>Nível de perigo: Alto</h4>
				<h4>Data: 20/09/2022</h4>
			</div>
		</div>
	</div>


</body>

</html>